@media screen and (min-width: 768px) {
  ul {
    background: none;
    position: relative;
    transform: none;
    top: auto;
    height: calc(100vh - 200px);    
    margin-right: 10px;
  }      
}    