@font-face
  font-family: "icons2"
  src: url("#{$assetsPath}/fonts/icons/copperhead/icons2.eot")
  src: url("#{$assetsPath}/fonts/icons/copperhead/icons2.eot?#iefix") format("embedded-opentype"), url("#{$assetsPath}/fonts/icons/copperhead/icons2.woff") format("woff"), url("#{$assetsPath}/fonts/icons/copperhead/icons2.ttf") format("truetype"), url("#{$assetsPath}/fonts/icons/copperhead/icons2.svg#icons") format("svg")
  font-weight: normal
  font-style: normal

/* latin */
@font-face
  font-family: 'Catamaran'
  font-style: normal
  font-weight: 400
  src: url("#{$assetsPath}/fonts/catamaran/catamaranRegular.eot")
  src: url("#{$assetsPath}/fonts/catamaran/catamaranRegular.woff2") format('woff2'), url("#{$assetsPath}/fonts/catamaran/catamaranRegular.eot?#iefix") format("embedded-opentype"), url("#{$assetsPath}/fonts/catamaran/catamaranRegular.woff") format("woff"), url("#{$assetsPath}/fonts/catamaran/catamaranRegular.ttf") format("truetype"), url("#{$assetsPath}/fonts/catamaran/catamaranRegular.svg#catamaranRegular") format("svg")

/* latin */
@font-face
  font-family: 'Catamaran'
  font-style: normal
  font-weight: 600
  src: url("#{$assetsPath}/fonts/catamaran/catamaranBold.eot")
  src: url("#{$assetsPath}/fonts/catamaran/catamaranBold.woff2") format('woff2'), url("#{$assetsPath}/fonts/catamaran/catamaranBold.eot?#iefix") format("embedded-opentype"), url("#{$assetsPath}/fonts/catamaran/catamaranBold.woff") format("woff"), url("#{$assetsPath}/fonts/catamaran/catamaranBold.ttf") format("truetype"), url("#{$assetsPath}/fonts/catamaran/catamaranBold.svg#catamaranBold") format("svg")

/* latin */
@font-face
  font-family: 'Lato'
  font-style: normal
  font-weight: 400
  src: url("#{$assetsPath}/fonts/lato/latoRegular.eot")
  src: url("#{$assetsPath}/fonts/lato/latoRegular.woff2") format('woff2'), url("#{$assetsPath}/fonts/lato/latoRegular.eot?#iefix") format("embedded-opentype"), url("#{$assetsPath}/fonts/lato/latoRegular.woff") format("woff"), url("#{$assetsPath}/fonts/lato/latoRegular.ttf") format("truetype"), url("#{$assetsPath}/fonts/lato/latoRegular.svg#latoRegular") format("svg")

/* latin */
@font-face
  font-family: 'Lato'
  font-style: normal
  font-weight: 600
  src: url("#{$assetsPath}/fonts/lato/latoBold.eot")
  src: url("#{$assetsPath}/fonts/lato/latoBold.woff2") format('woff2'), url("#{$assetsPath}/fonts/lato/catamaranBold.eot?#iefix") format("embedded-opentype"), url("#{$assetsPath}/fonts/catamaran/catamaranBold.woff") format("woff"), url("#{$assetsPath}/fonts/catamaran/catamaranBold.ttf") format("truetype"), url("#{$assetsPath}/fonts/catamaran/catamaranBold.svg#catamaranBold") format("svg")

/* latin */
@font-face
  font-family: 'montserrat'
  font-style: normal
  font-weight: 400
  src: url("#{$assetsPath}/fonts/montserrat/montserratRegular.eot")
  src: url("#{$assetsPath}/fonts/montserrat/montserratRegular.woff2") format('woff2'), url("#{$assetsPath}/fonts/montserrat/montserratRegular.eot?#iefix") format("embedded-opentype"), url("#{$assetsPath}/fonts/montserrat/montserratRegular.woff") format("woff"), url("#{$assetsPath}/fonts/montserrat/montserratRegular.ttf") format("truetype"), url("#{$assetsPath}/fonts/montserrat/montserratRegular.svg#montserratRegular") format("svg")

/* latin */
@font-face
  font-family: 'montserrat'
  font-style: normal
  font-weight: 600
  src: url("#{$assetsPath}/fonts/montserrat/montserratBold.eot.eot")
  src: url("#{$assetsPath}/fonts/montserrat/montserratBold.woff2") format('woff2'), url("#{$assetsPath}/fonts/montserrat/catamaranBold.eot?#iefix") format("embedded-opentype"), url("#{$assetsPath}/fonts/catamaran/catamaranBold.woff") format("woff"), url("#{$assetsPath}/fonts/catamaran/catamaranBold.ttf") format("truetype"), url("#{$assetsPath}/fonts/catamaran/catamaranBold.svg#catamaranBold") format("svg")
