<div class="centered-content-block about-me-title">
  <img class="me" src="http://www.christoszenonos.com/me.jpg" alt="" />
  <div>
    <h1>Christos Zenonos</h1>
    <h2>Web developer & Coder</h2>
  </div>
</div>
<div class="about-me-container">
  <h1>Hello and welcome to my portfolio</h1>
  <h2>I am a passionate and enthusiastic web developer and programmer based in London. </h2>
  <div class="centered-content-block tea-container">
    <h4> Cups of tea drunk a day</h4>
    <svg-icons icon="tea" repeat="8"></svg-icons>
    <p>(That's a lot of caffine.. At least it's not coffee)</p>
  </div>
</div>
