<div class="about-me-title centered-content-block">
  <img class="me" src="http://www.christoszenonos.com/me.jpg" alt="" />
  <div>
    <h1>Christos Zenonos</h1>
    <h2 style="border-bottom: solid 2px black;">Web developer & Coder</h2>
  </div>
</div>
<div class="about-me-container centered-content-block">
  <h1>Hello and welcome to my portfolio</h1>
  <h2>I am a passionate and enthusiastic web developer and programmer based in London.</h2>
  <h2>Listing your essential skills and talents seesm to be what every developer is doing these days.</h2>
  <h2>So following that, here are some of my most notable skills and talents</h2>
  <div *ngFor="let skill of sillySkills" class="skill-container">         
    <span style="flex-basis:20%">{{skill.name}}</span>
    <progress *ngIf="skill.type == 'progressBar'" [value]=skill.rank max="100" style="flex-basis:80%;"></progress>
    <svg-icons *ngIf="skill.type == 'svg'" [icon]=skill.icon [repeat]=skill.rank style="display: inline-flex;"></svg-icons>
    <p *ngIf="skill.type == 'svg'">(That's a lot of caffine.. At least it's not coffee)</p>
  </div>
</div>