<div class="about-me-title centered-content-block">
  <img class="me" src="http://www.christoszenonos.com/me.jpg" alt="" />
  <div>
    <h1>Christos Zenonos</h1>
    <h2>Web developer & Coder</h2>
  </div>
</div>
<div class="about-me-container centered-content-block" style="flex-direction:column">
  <h1>Hello and welcome to my portfolio</h1>
  <h2>I am a passionate and enthusiastic web developer and programmer based in London. </h2>
    <h4> Cups of tea drunk a day</h4>
    <svg-icons icon="tea" repeat="8" style="display:flex"></svg-icons>
    <p>(That's a lot of caffine.. At least it's not coffee)</p>
    <div style="display: flex;flex-wrap: wrap;width: 100%;">         
      <span>Beard Length</span><progress value="80" max="100" style="flex: 1;"></progress>
    </div>
    <div style="display: flex;flex-wrap: wrap;width: 100%;">         
      <span>Beard Length</span><progress value="80" max="100" style="flex: 1;"></progress>
    </div>
</div>
