@import '../../../assets/css/core/utilities/reset';

.main-navbar-container{
  left: 0;
  top: 0;
  position: fixed;
  right: 0;
  z-index: 7;
  min-width: 320px;
  background: white;

.navbar {
  max-width: 1360px;
  border: 0;
  border-radius: 0;
  justify-content: space-around;
  margin: 0 auto;
  top: 0;
  display: flex;

  [class*='-btn'] {
    background: none;
    border: none;
    cursor: pointer;

    i {
      font-size: 30px;
    }
  }
}
}