@import '../../../assets/css/core/utilities/reset';
@import '../../../assets/css/core/elements/roundedList';

.about-me-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  font-family: 'Inconsolata', serif;
  
  .me {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    margin-right: 15px;
    border: 3px solid white;
  }

  .about-me-title{
    flex: 1 1 auto;
    text-align: center;

    .name {
      font-size: 30px;
      color: #FFFFFF;
    }
  
    .profession {
      font-size: 25px;
      padding-bottom: 15px;
      border-bottom: solid 2px black;
    }
  }


}

.about-me-container {
    color: #FFFFFF;
    font-family: 'roboto', sans-serif;
    font-weight: 100;
    flex-direction: column;
    text-align: center;

  h1 {
    margin-top: 30px;
    font-size: 25px;
  }

  h2 {
    margin: 10px 0;
    font-size: 20px;
  }

  p {
    font-size: 20px;
    text-align: center;
    font-family: 'VT323', serif;
  }

}
