.main-navbar-container
  left: 0
  top: 0
  position: fixed
  right: 0
  z-index: 7
  height: $header-height
  min-width: 320px

  @if $header-border != none
    box-shadow: $header-border

  @if $brand-logo-bg == transparent

    .navbar > *:not(.brand-logo)
      background: $header-bg

  @else
    background: $header-bg

  @import 'header/search'

  .navbar
    max-width: 1360px
    border: 0
    border-radius: 0
    justify-content: center
    margin: 0 auto
    top: 0



    .custom-cta.deposit,
    .login-container
      display: none

    &, .account-balance
      display: flex
      align-items: center

    .search-container,
    .user-info
      display: inline-flex
      flex-grow: 1.2
      max-height: $header-height

    .search-container
      justify-content: flex-start

    .user-info
      justify-content: flex-end

    .user-menu-cta
      display: table
      position: relative

      .icon-bubble
        position: absolute
        right: 5px
        top: 5px

    .balance-value
      display: table-cell
      vertical-align: middle

    [class*='-btn']
      font-size: 0
      line-height: 1
      padding: $header-icon-padding

    .icon
      font-size: $header-icon-fontsize

    .account-balance .user-btn
      padding: 12px 12px 12px 6px
