//@TODO
  Refactor All this inline styles into class
  Create banners to symbolise skills with more than x years experience
  remove all the nasty innerHTML stuff, instead loop through skills properly (will need to restructe the json object for this)
  Add filters on skills
  Create roles section
  Create CV section
  Inside role section show a progress bar on skills to display how much time I spent on the skills in that role
  Create a personal project section.
  Create tech tests section.
  Create mongoDB and nodejs backend
  improve design (obviously)

  cool websites:
  http://www.goslingo.com/
  http://switcher.madeinebor.com/?theme=Other
  http://animista.net/
  http://bennettfeely.com/

<div class="container">
  <section class="carousel tertiary" style="margin-left: 20px;">
    <div class="content-slider no-scroll desktop-carousel max-container" style="
    position: relative;
    left: 0;
    top: 100px;
    right: 0;
    bottom: 0;
    perspective: 2000px;
    max-width: 1360px;margin: auto;">
      <article *ngFor="let skill of skills; let i = index" class="game-thumbnail img-large flip-vertical-fwd"
               style="  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;">
        <div
          style="position: relative;-webkit-backface-visibility: hidden;backface-visibility: hidden;    z-index: 20;">
          <figure class="thumb-container" style="-webkit-font-smoothing: antialiased;background: lightgray;">
            <img [src]="skill.img" style="height: 200px;max-width: 100%;" class="img-responsive">
          </figure>
          <figcaption>{{skill.name}}</figcaption>
        </div>
        <div class="this">
          <figure class="thumb-container" style="padding:15px;transform:scale(2);height:200px;background: lightgray;" [innerHTML]="skill.description">
            {{skill.description}}
          </figure>
        </div>
      </article>
    </div>
  </section>
</div>
