<div class="main-navbar-container">
  <nav class="navbar max-container">
    <button routerLink="/" class="user-btn" type="button">
      <i class="material-icons">home</i>
    </button>
  </nav>
</div>

<!-- <div class="breadcrumb-container">
    <div class="breadcrumb">
    <a href="#">
      <span class="item">
        <span class="title"><i class="material-icons">home</i></span>
      </span>
    </a>
    <a href="#">
      <span class="item">
        <span class="title">Skills</span>
      </span>
    </a>
    <a href="#">
      <span class="item">
        <span class="title">Javascript</span>
      </span>
    </a>
  </div>
</div> -->
