@import '../../../assets/css/core/elements/cards';
@import '../../../assets/css/core/mediaQueries/cards';

:host {
  font-family: 'roboto';
  font-weight: 100;
  ul {
    text-align:left;
    list-style: circle;
    padding: 10px;
  }
}